body{
    margin:0;
    height: 100vh;
    background: linear-gradient(145deg,#143a1f, #11471d, #109638);
}

body.tema-escuro{
    background-color: #111111;
    color:  #e2c312;
}

.Introducao h1{
    text-align: center;
    text-decoration-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 255, 98);
    font-size: 80px;
    animation: apareca 1.5s ease-in-out forwards;
    background: linear-gradient(145deg,#042225, #0b214b, #002550);
    margin: 0;
    padding: 50px;
}
.Introducao p{
    text-align: center;
    color:chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.1;
    animation: apareca 2s ease-in-out forwards;
}

.entrada{
    display: flex;
    justify-content: end;
    margin: 10px;
    gap: 15px;
    padding: 50px;
}

.entrada button{
    padding: 12px 28px;
    border-radius: 8px;
    cursor:pointer;
    transition: all 0.2s ease;
}

#cadastro{
    color:rgb(0, 0, 0);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0;
    box-shadow: 1px 3px 5px rgb(0, 255, 98);
}


#cadastro:hover {
  background-color: #078a5e;
  transform: translateY(-2px);
}
#login{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: 0;
    box-shadow: 1px 4px 6px rgb(47, 102, 253);
}

#login:hover{
   background-color: #0a51d4;
   transform: translatey(-2px);
}

@keyframes apareca{
    from{
        transform: translateY(50px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}